@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Darker Grotesque';
}

header{
    width: 100%;
    height: 130px;
    background-color: #85CDF5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

header img{
    margin-right: 40px;
}

header .link{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #333333;
    position: relative;
}

header .link::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #333333;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s ease-in-out;
}

header .link:hover::after {
    width: 100%;
}

main {
    padding: 0px 40px;
    height: 300px;
}

main h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

main > p {
    width: 960px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

footer {
    padding: 30px 80px;
    background-color: rgb(51, 51, 51);
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid;
    border-image: linear-gradient(to right, rgb(222, 185, 89), rgb(44, 86, 128)) 1;
}
.iframe-texto{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.texto > p {
    width: 378px;
    margin-bottom: 10px;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}

.imagem > p {
    color: white;
    font-size: 1em;
}

button {
    margin-top: 15px;
    background-color: rgb(222, 185, 89);
    text-align: center;
    width: 144px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    color: rgb(51, 51, 51);

    &:hover{
        background-color:  rgb(197, 158, 61);
    }
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}